html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
    background-color: #F0EFEF;
}

p{
    font-size: 1.8rem;
    font-weight: 400;
    color: $textGray;
    line-height: 32px;
}

a{
    text-decoration: none;
}

h1,h2,h3{
    margin: 0;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
}
