html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: 400;
    background-color: white;
    color: #666;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size:  1.6rem;
    font-weight: 400;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    font-weight: 400;
}

h1{
    font-size: 40px;
    line-height: 1.2;
    color: #333;
}
h2, .h2{
    font-size: 3.2rem;
}
h3{
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ftco-section{
    padding: 7em 0;
    position: relative;
    @include tablet{
        padding: 6em 0;
    }
}
