html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
    background-color: white;
    color: #666;
}

p{
    font-size:  1.6rem;
    font-weight: 400;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    font-weight: 400;
}

h1{
    font-size: 40px;
    line-height: 1.2;
    color: #333;
}
h2{
    font-size: 4.8rem;
    line-height: 64px;
}
h3{
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    @include desktop{
        font-size: 4rem;
        line-height: 54px;
    }
}
