//Fuentes
$fuentePrincipal: 'Inter', sans-serif;


//Media Queries
$telefono: 320px;
$tablet: 768px;
$desktop: 1200px;

//Separaciones
$espaciado: 5rem;

//Variables
$light: #fff;
$links: gray;
$dark: #333;
$negro: #000;
$teams: #2C3795;

$green: #7FBA00;
$yellow: #FFB900;
$fucsia: #EC268F;
$azul: #0A0DAD;
$cian: #00AFEF;

//Texto
$textGray: #18191F;