#hero{
    height: 35rem;
    width: 100%;
    min-width: 320px;
    background-color: whitesmoke;
    background-image: url('../dist/img/hero.jpg');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;

        @include tablet{
            height: 55rem;
            background-size: cover;
        }
        @include desktop{
        background-size: cover;
        height: 60rem;
        }
    
    
}