.hero-wrap-2{
    height: 300px;

    .slider-text {
        height: 300px !important;
        h1{
            font-size: 28px;
            color: #000000;
            line-height: 1.2;
            font-weight: 200;
        }
        }
    
}