.sidebar-box {
    margin-bottom: 30px;
    padding: 15px;
    font-size: 15px;
    width: 100%;
    float: left;
    background: #fff;
    a{
        width: 100%;
    }
}

.speaker-img{
    margin: 0;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include tablet{
    width: 100%;
    height: 250px;
    }
}